.promo {
    &__padding {
        padding-left: 60px;
    }
    height: 100vh;
    background: url('../img/main_bg.jpg') center/cover no-repeat;
    padding-top: 206px;
    &__title {
        max-width: 520px;
    }
    &__link {
        margin-top: 25px;
        a {
            text-decoration: none;
            &:hover {
                color: #000;
            }
        }
        &_portfolio,
        &_about-me {
            text-decoration: none;
            background-color: $main-color;
            color: #000;
            font-weight: 700;
            font-size: 14px;
            line-height: 45px;
            text-align: center;
            display: inline-block;
            height: 45px;
            min-width: 135px;
        }
        &_about-me {
            background-color: transparent;
        }
    }
    &__subtitle-circl {
        padding-left: 2px;
        z-index: 1;
        position: relative;
        @include text-circl;
    }
    &__social {
        position: fixed;
        top: 50%;
        left: -8%;
        transform: rotate(-90deg);
        height: 25px;
        width: 370px;
        justify-content: space-around;
        display: flex;
        svg {
            height: 100%;
        }
        &_text {
            line-height: 24px;
            font-weight: 700;
            font-size: 19px;
            color: #000;
        }
        &_hr {
            align-self: center;
            background-color: #000;
            width: 70px;
            height: 2px;
        }
    }
    &__hamburger {
        &.hamburger_active {
            display: none;
        }
        cursor: pointer;
        height: 23px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        position: absolute;
        right: 30px;
        top: 30px;
        span {
            display: block;
            width: 30px;
            height: 3px;
            background-color: #000;
        }
        span.long {
            width: 36px;
        }
    }
}