.title {
    margin: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 60px;
    color: #000000;
    &_fs48 {
        font-size: 36px;
    }
}

.subtitle {
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}